.mat-raised-button {
	margin-right: 8px;
	margin-top: 8px;
	width: 100px;
	padding-left: 50px;
}

.calendar {
	margin-top: 20px;
	margin-left: 20px;
	width: 800px;
	height: 800px;
	text-align: center;
	margin-bottom: 20px;
}

/* .calendar-header{
    background-color: rgb(62, 182, 212);
} */

.calendar-title {
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
}

.chart-title {
	margin-top: 10px;
	margin-bottom: 10px;
}

.chart-content {
	margin-top: 30px;
	text-align: center;
}

.chart-datepicker {
	padding-right: 50px;
}

.e-date-wrapper {
	height: 10px;
}
